{% extends 'core/base.html' %}
{% load static %}

{% block title %}{{ category_name }} - {{ wilaya|default:"Algérie" }}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/list.css' %}">
{% endblock %}

<!-- HERO -->
{% block hero %}
<section class="hero">
    <div class="hero-content">
        <span class="tag">EXPLORER L'ALGÉRIE</span>
        <h1 class="fade-in">{{ category_name }} de {{ wilaya|default:"la Wilaya" }}</h1>
        <p class="fade-in">
            Découvrez les meilleurs {{ category_name|lower }} de {{ wilaya|default:"la Wilaya" }}.
        </p>
    </div>
</section>
{% endblock %}

{% block content %}

<!-- FILTER -->
<section class="filter-section">
  <form method="GET" class="glass-filter">

    <input type="hidden" name="wilaya" value="{{ wilaya }}">

    <div class="input-group">
      <span>🔍</span>
      <input 
        type="text" 
        name="q" 
        placeholder="Rechercher {{ category_name|lower }}..."
        value="{{ query }}"
      >
    </div>

    {% if category_name|lower == "hotels" %}
    <div class="input-group">
      <span>💰</span>
      <input 
        type="number" 
        name="max_price" 
        placeholder="Prix max" 
        value="{{ max_price }}"
      >
    </div>
    {% endif %}

    <button type="submit" class="filter-btn">
        {% if category_name|lower == "hotels" %}
            Filtrer
        {% else %}
            Rechercher
        {% endif %}
    </button>

  </form>
</section>

<!-- TITLE -->
<section class="section-title">
    <h2>Notre sélection</h2>
</section>

<!-- CARDS -->
<section class="list">
    <div class="list-container">

        {% for item in items %}
        <div class="card">

            {% if item.price %}
                <p class="price-badge">{{ item.price }} DA</p>
            {% endif %}

            {% if item.image %}
                <img src="{{ item.image.url }}" alt="{{ item.name }}">
            {% else %}
                <img src="{% static 'images/default-hotel.jpg' %}">
            {% endif %}

            <div class="card-content">
                <h3>{{ item.name }}</h3>

                {% if item.description %}
                <p>{{ item.description|truncatewords:15 }}</p>
                {% endif %}

                {% if item.google_maps_link %}
                <a href="{{ item.google_maps_link }}" target="_blank" class="map-btn">
                    📍Voir sur Maps
                </a>
                {% endif %}
            </div>

        </div>
        {% empty %}
        <p style="text-align:center;">
            Aucun {{ category_name|lower }} trouvé.
        </p>
        {% endfor %}

    </div>
</section>

{% endblock %}