{% extends 'base.html' %}

{% block title %}Places à {{ wilaya }}{% endblock %}

{% block content %}
<h1 class="mb-4">Places à {{ wilaya }}</h1>

<div class="row">
    {% for p in places %}
    <div class="col-md-4 mb-3">
        <div class="card">
            <img src="{{ p.image.url }}" class="card-img-top" alt="{{ p.name }}">
            <div class="card-body">
                <h5 class="card-title">{{ p.name }}</h5>
                <p class="card-text">{{ p.description|truncatewords:20 }}</p>
                <a href="{{ p.google_maps_link }}" target="_blank" class="btn btn-primary">Google Maps</a>
            </div>
        </div>
    </div>
    {% empty %}
    <p>Aucun endroit trouvé.</p>
    {% endfor %}
</div>
{% endblock %}