{% extends 'base.html' %}
{% load static %}

{% block title %}Places Touristiques - {{ wilaya|default:"Algérie" }}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/places.css' %}">
{% endblock %}

{% block hero %}
<section class="hero">
    <div class="hero-content">
        <span class="tag">EXPLORER L'ALGÉRIE</span>
        <h1>Places Touristiques de {{ wilaya|default:"la Wilaya" }}</h1>
        <p>Découvrez les monuments et lieux historiques qui font la beauté et la richesse culturelle de {{ wilaya|default:"l'Algérie" }}.</p>
    </div>
</section>
{% endblock %}

{% block content %}

<!-- SEARCH BOX -->
<div class="search-box">
    <input type="text" placeholder="Rechercher...">
    <i class="fa-solid fa-magnifying-glass"></i>
</div>

<!-- PLACES GRID -->
<section class="places-container">
    {% for place in places %}
    <div class="card">
        <img src="{{ place.image.url }}" alt="{{ place.name }}">
        <div class="card-content">
            <h3>{{ place.name }}</h3>
            <p>{{ place.description|truncatewords:20 }}</p>
            <a href="{{ place.google_maps_link }}" target="_blank">📍 Voir sur Google Maps</a>
        </div>
    </div>
    {% empty %}
    <p>Aucun endroit trouvé pour cette Wilaya.</p>
    {% endfor %}
</section>

{% endblock %}