{% extends 'base.html' %}
{% load static %}

{% block title %}Hôtels - {{ wilaya|default:"Algérie" }}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/hotels.css' %}">
{% endblock %}

{% block hero %}
<section class="hero">
    <div class="hero-content">
        <span class="tag">EXPLORER L'ALGÉRIE</span>
        <h1>Hôtels de {{ wilaya|default:"la Wilaya" }}</h1>
        <p>Découvrez les meilleurs hôtels de la ville.</p>
    </div>
</section>
{% endblock %}

{% block content %}

<section class="section-title">
    <h2>Notre sélection</h2>
</section>

<section class="hotels">
    <div class="hotels-container">
        {% for hotel in items %}
        <div class="hotel-card" onclick="window.open('{{ hotel.google_maps_link }}','_blank')">
            
            {% if hotel.image %}
                <img src="{{ hotel.image.url }}" alt="{{ hotel.name }}">
            {% else %}
                <img src="{% static 'images/default-hotel.jpg' %}" alt="default">
            {% endif %}

            <h3>{{ hotel.name }}</h3>

        </div>
        {% empty %}
        <p>Aucun hôtel trouvé pour cette Wilaya.</p>
        {% endfor %}
    </div>
</section>

{% endblock %}