{% extends 'base.html' %}
{% load static %}

{% block title %}Restaurants à {{ wilaya|default:"Algérie" }}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/restaurants.css' %}">
{% endblock %}

{% block hero %}
<section class="hero">
    <div class="hero-content">
        <span class="tag">EXPLORER L'ALGÉRIE</span>
        <h1>Restaurants de {{ wilaya|default:"la Wilaya" }}</h1>
        <p>Découvrez les meilleurs restaurants de la ville. Une sélection exquise de la gastronomie locale, orientale et internationale.</p>
    </div>
</section>
{% endblock %}

{% block content %}

<!-- RESTAURANTS GRID -->
<section class="restaurants-container">
    {% for res in items %}
    <div class="card">
        <img src="{{ res.image.url }}" alt="{{ res.name }}">
        <div class="card-content">
            <h3>{{ res.name }}</h3>
            <p>{{ res.description|truncatewords:20 }}</p>
            <a href="{{ res.google_maps_link }}" target="_blank">📍 Voir sur Google Maps</a>
        </div>
    </div>
    {% empty %}
    <p>Aucun restaurant trouvé pour cette Wilaya.</p>
    {% endfor %}
</section>

{% endblock %}